<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Bus</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Alpha bus</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('admin_page') }}">ADMIN</a></li>
                    <li><a href="{{ url_for('register') }}">BOOK TICKET</a></li>
                    <li><a href="{{ url_for('register') }}">CONTACT</a></li>
                </ul>
            </div>

           
        </div> 
        <div class="content">

                <div class="content">
                    <h1>About Us</h1>
                    <p class="par">This is a Module end project developed by Team Alpha Frontliners under the guidance of C.C. Veenita Singh for AlphaBus. It is based on a Python web application where the web application is developed using Flask, Python, HTML and CSS. Online bus service which helps travelers to book tickets at a cheap price & quickly.</p>
                </div>
            </div>
        </main>
    
        <footer>
        </footer>
                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>