<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alpha Bus</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Alpha bus</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">HOME</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                    <li><a href="{{ url_for('admin_page') }}">ADMIN</a></li>
                    <li><a href="{{ url_for('register') }}">BOOK TICKET</a></li>
                    <li><a href="{{ url_for('register') }}">CONTACT</a></li>
                </ul>
            </div>
        <div>
            <h2>Abe ....username passward check Kar😒😒😒😒😒😒</h2>
        </div>

           
        </div> 
    </div>
</body>
</html>